<h1 class="mt20 text-center" style="color: white;">Add questions to {{qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="container text-center" color="primary">
                <button mat-raised-button  [routerLink]="'/admin/add-question/'+qId+'/'+qTitle">Add Questions</button>
            </div>
            
            <mat-card *ngFor="let q of questions; let i=index" class="mt20 transparent">

                <mat-card-content>

                    <p>
                        <b>Q{{i+1}})</b>
                         <span class="ml20" >{{q.content}}</span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    1. {{q.option1}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    2. {{q.option2}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    3. {{q.option3}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    4. {{q.option4}}
                                </p>
                            </div>
                        </div>
                        <div>
                            <mat-divider>

                            </mat-divider>
                            <p class="mt20"><b>Correct Answer: {{q.answer}}</b></p>
                        </div>
                    </div>

                </mat-card-content>

                <button mat-raised-button (click)="deleteQuestion(q.quesId)" color="warn">Delete</button>

            </mat-card>
            <br><br>
        </div>
    </div>
</div>
